.heading {
  padding: 0 var(--spacer);
  margin-top: var(--spacer);
}

.heading__text {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .heading__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .heading {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * 2);
  }

  .heading__text {
    font-size: 3.5rem;
  }
}

.roadMap__content {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .roadMap__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: calc(var(--spacer) * 4) auto;
    justify-content: space-around;
  }
}

.quizRoadMap {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

.quizRoadMap__picture {
  display: block;
  width: 100%;
}

.quizRoadMap__text {
  font-size: 1.1rem;
  text-align: center;
  margin: var(--spacer) 0;
}

@media screen and (min-width: 768px) {
  .quizRoadMap {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
  }

  .quizRoadMap__picture-wrapper {
    flex: 1 1 70%;
  }

  .quizRoadMap__text {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 990px) {
  .equizRoadMap__text {
    font-size: 1.5rem;
  }
}
.quizRoadMap__link {
  text-decoration: none;
}

.quizRoadMap__button {
  display: block;
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
}
@media screen and (min-width: 768px) {
  .quizRoadMap__button {
    display: inline-block;
  }
}

@media screen and (min-width: 990px) {
  .quizRoadMap__button {
    font-size: 1.5rem;
  }
}
