.quiz__footer {
  margin: calc(var(--spacer) * 2) var(--spacer);

  text-align: center;
}

.timestoper {
  font-family: var(--font);
  font-size: 1.1rem;
  margin: var(--spacer) var(--spacer);
  text-align: right;
}

.set__button {
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
  margin-bottom: calc(var(--spacer) / 2);
}

.quiz__note {
  margin-top: var(--spacer);
  display: block;
  color: var(--color-font);
  text-decoration: none;
  font-size: 1em;
}

.quiz__note:hover,
.quiz__note:active,
.quiz__note:focus {
  color: var(--color-font);
  font-family: var(--font);

  text-decoration: underline;
  text-underline-offset: 2px;
}

@media screen and (min-width: 768px) {
  .timestoper {
    margin: var(--spacer) auto;
    max-width: 600px;
  }

  .set__button {
    display: inline-block;
  }
}

@media screen and (min-width: 990px) {
  .set__button {
    font-size: 1.5rem;
    margin-bottom: calc(var(--spacer) / 2);
  }
  .timestoper {
    max-width: 1200px;
  }
}
