.quiz__footer {
  margin: calc(var(--spacer) * 2) var(--spacer);

  text-align: center;
}

.timestoper {
  font-family: var(--font);
  font-size: 1.1rem;
  margin: var(--spacer) var(--spacer);
  text-align: right;
}

.set__button {
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
  margin-bottom: calc(var(--spacer) / 2);
}

@media screen and (min-width: 768px) {
  .timestoper {
    margin: calc(var(--spacer) * 2) auto;
    max-width: 600px;
  }

  .set__button {
    display: inline-block;
    margin-bottom: calc(var(--spacer) / 2);
  }
}

@media screen and (min-width: 990px) {
  .set__button {
    font-size: 1.5rem;
    margin-bottom: calc(var(--spacer) / 2);
  }
  .timestoper {
    max-width: 1200px;
  }
}
