.heading {
  padding: 0 var(--spacer);
  margin-top: var(--spacer);
}

.heading__text {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .heading__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .heading {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * 2);
  }

  .heading__text {
    font-size: 3.5rem;
  }
}

.text {
  max-width: 600px;
  margin: calc(var(--spacer) * 2) auto;
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: var(--font);
  font-size: 1.1rem;
}

.link--prototyp {
  text-decoration: underline;
  color: var(--color-font);
}
