.heading {
  padding: 0 var(--spacer);
  margin-top: var(--spacer);
}

.heading__text {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .heading__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .heading {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * 2);
  }

  .heading__text {
    font-size: 3.5rem;
  }
}
.introduction {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

.introduction__picture {
  display: block;
  width: 100%;
}

.introduction__text {
  font-size: 1.1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .introduction {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
    margin: calc(var(--spacer) * 4) auto;
  }

  .introduction__picture-wrapper {
    flex: 1 1 70%;
  }

  .introduction__text {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 990px) {
  .introduction__text {
    font-size: 1.5rem;
  }
}

.text {
  max-width: 600px;
  margin: calc(var(--spacer) * 2) auto;
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: var(--font);
  font-size: 1.1rem;
}

.quiz {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
}

.quiz__picture-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacer) auto;
}

.quiz__picture {
  width: 100px;
}

.quiz__text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .quiz__picture-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-evenly;
  }

  .quiz__picture {
    width: 140px;
  }
}

@media screen and (min-width: 990px) {
  .quiz {
    max-width: 1200px;
  }
  .quiz__picture-wrapper {
    display: flex;
    align-items: center;

    justify-content: space-evenly;
  }

  .quiz__picture {
    width: 160px;
  }
}

.education {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

.education__picture {
  display: block;
  width: 100%;
}

.education__text {
  font-size: 1.1rem;
  text-align: center;
  margin: var(--spacer) 0;
}

@media screen and (min-width: 768px) {
  .education {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 1200px;
  }

  .education__picture-wrapper {
    flex: 1 1 70%;
  }

  .education__text {
    flex: 1 1 30%;
  }
}

@media screen and (min-width: 990px) {
  .education__text {
    font-size: 1.5rem;
  }
}
.education__link,
.quiz__link,
.introduction__link {
  text-decoration: none;
}

.education__button,
.quiz__button,
.introduction__button {
  display: block;
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
}
@media screen and (min-width: 768px) {
  .education__button,
  .quiz__button,
  .introduction__button {
    display: inline-block;
  }
}

@media screen and (min-width: 990px) {
  .education__button,
  .quiz__button,
  .introduction__button {
    font-size: 1.5rem;
  }
}
