.subheading,
.subheading__time {
  font-size: 2rem;
  text-align: center;
}
.subheading__img {
  margin: calc(var(--spacer) * 2) auto;
  display: block;
  width: 20%;
}

.quiz__link {
  text-decoration: none;
}

.quiz__button-result {
  display: block;
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
  margin: var(--spacer) var(--spacer);
}

@media screen and (min-width: 768px) {
  .quiz__button-result {
    display: inline-block;
    padding-left: var(--spacer);
    padding-right: var(--spacer);
    max-width: 600px;
    margin: var(--spacer) auto;
  }
}

@media screen and (min-width: 990px) {
  .quiz__button-result {
    font-size: 1.5rem;
  }
}
