.footer {
  background-color: var(--color-bg-primary);
  padding: calc(var(--spacer) / 2);
  margin-top: calc(var(--spacer) * 2);
}

@media screen and (min-width: 768px) {
  .footer__link {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
/* @media screen and (min-width: 990px) {
 
} */

.footer__text {
  text-align: center;
  color: var(--color-font);
  font-family: var(--font);
  font-size: 1rem;
  margin: 0;
}

.footer__home,
.footer__about {
  color: var(--color-font);
  font-family: var(--font);
  font-size: 1rem;
  text-decoration: none;
}

.footer__home:hover,
.footer__home:active,
.footer__home:focus,
.footer__about:hover,
.footer__about:active,
.footer__about:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}
