.question {
  margin: calc(var(--spacer) * 4) auto;
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

@media screen and (min-width: 768px) {
  .question {
    max-width: 1200px;
    margin: calc(var(--spacer) * 4) auto;
  }
}
