.heading {
  padding: 0 var(--spacer);
  margin-top: var(--spacer);
}

.heading__text {
  font-family: var(--font-heading);
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  margin: 0;
}

.question__number--set {
  font-weight: normal;
}

@media screen and (min-width: 750px) {
  .heading__text {
    font-size: 3rem;
  }
}

@media screen and (min-width: 990px) {
  .heading {
    margin-top: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * 2);
  }

  .heading__text {
    font-size: 3.5rem;
  }
}

.question {
  margin: calc(var(--spacer) * 2) var(--spacer);
  padding-left: var(--spacer);
  padding-right: var(--spacer);
  max-width: 600px;
}

.question__title {
  font-size: 1.2rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}

.question__icon {
  height: 20px;
  margin-right: calc(var(--spacer) / 4);
}

.question__icon--false {
  outline: rgb(221, 66, 66);
  fill: rgb(221, 66, 66);
  font-weight: bold;
}

.question__icon--correct {
  outline: rgb(13, 129, 13);
  fill: rgb(13, 129, 13);
  font-weight: bold;
}

.question--nonAnswered {
  font-weight: normal;
}

@media screen and (min-width: 768px) {
  .question {
    margin: calc(var(--spacer) * 2) auto;
  }
  .question__title {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 990px) {
  .question__title {
    font-size: 1.5rem;
    flex-wrap: nowrap;
  }
  .question__number--set {
    font-size: 1.2rem;
  }

  .question {
    max-width: 1200px;
  }
}

.question__button {
  font-family: var(--font);
  font-size: 1.1rem;
  text-align: center;
  border: 3px solid var(--color-button);
  border-radius: 10px;
  background-color: var(--color-button);
  padding: calc(var(--spacer) / 2);
  color: var(--color-font-light);
  margin: var(--spacer);
}

.question__action {
  margin: var(--spacer) var(--spacer);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.question__link {
  color: var(--color-font);
  font-family: var(--font);
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.question__text {
  line-height: 1.3;
  margin-bottom: var(--spacer);
  margin-left: var(--spacer);
  padding: calc(var(--spacer) / 2);
}

.question__text--correct {
  color: rgb(13, 129, 13);
  font-weight: bold;
}

.question__text--false {
  color: rgb(221, 66, 66);
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .question__button {
    display: inline-block;
  }
}

@media screen and (min-width: 990px) {
  .question__button,
  .question__text {
    font-size: 1.5rem;
  }

  .question__link {
    font-size: 1.2rem;
  }
}

label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

label input[type='radio'] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
  background-color: #999999;
  border-radius: 50%;
  margin-right: 1em;
}

label input[type='radio']:checked ~ .checkmark {
  background-color: #13097c;
}

label input[type='radio']:checked ~ .checkmark::after {
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  background-color: white;
  border-radius: 50%;
}
